.header{
  padding: 3vh 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: #ddd;
  background-color: #222;
  box-shadow: 1px 1px 3px #111);

}

.autocomplete{
  width: 60vw;
  margin-top: .5rem;
}

.logo{
  width: 10vw;
  transition: border .3s ease-in;
}

.logo h2{
  font-size: 1.1rem;
  margin-bottom: -.6rem;
  text-align: center;
}

.logo h1{
  font-weight: bold;
  font-size: 2.1rem;
}

.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  gap: .8rem;
  margin: 0 1vw 0 2vw;
  justify-items:center;
  align-items: center;
  font-variant: small-caps;
}

.nav a{
  border-bottom: .3rem solid #222);
  transition: border .3s ease-in;
}

.nav a:hover{
border-bottom: .3rem solid #eee;;
}



